<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comcse5324projutacatering.httpsgithub.utacatering">

    <application
        android:allowBackup="true"
        android:icon="@drawable/uta_logo_styled"
        android:label="@string/app_name"
        android:roundIcon="@drawable/uta_logo_styled"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".sysuser_uc2_Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sysuser_uc1_Register">
            <intent-filter>
                <action android:name="com.example.appworthy.personalhealthmonitoringsystem.Register" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".admin_uc0_Home">
            <intent-filter>
                <action android:name="comcse5324projutacatering.httpsgithub.utacatering.AdminHome" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".admin_uc1_RegistrationRequestList">
            <intent-filter>
                <action android:name="com.example.appworthy.personalhealthmonitoringsystem.RegistrationRequestList" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".admin_uc2_34_ViewRegistrationRequest">
            <intent-filter>
                <action android:name="com.example.appworthy.personalhealthmonitoringsystem.ViewRegistrationRequest" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".admin_uc6_78_ViewEditProfile">
            <intent-filter>
                <action android:name="com.example.appworthy.personalhealthmonitoringsystem.ViewEditProfile" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".admin_uc5_SearchSystemUser">
            <intent-filter>
                <action android:name="com.example.appworthy.personalhealthmonitoringsystem.SearchSystemUser" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- USER RELATED ACTIVITIES HERE - -->
        <activity android:name=".user_uc0_Home">
            <intent-filter>
                <action android:name="comcse5324projutacatering.httpsgithub.utacatering.user_uc0_Home" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".user_uc1_availHalls">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".user_uc2_ReqEvent">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- CATERER RELATED ACTIVITIES HERE - -->
        <activity android:name=".cat_uc0_Home">
            <intent-filter>
                <action android:name="comcse5324projutacatering.httpsgithub.utacatering.cat_uc0_Home" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".sysuser_uc4_nonadmin_UpdateProfile" />
        <activity android:name=".user_uc3_ViewReservedEventsCalendar" />
        <activity android:name=".user_uc4_5_ViewReservedEventAndCancel" />
        <activity android:name=".cat_uc5_ViewEventCal">
            <intent-filter>
                <action android:name="comcse5324projutacatering.httpsgithub.utacatering.cat_uc5_ViewEventCal" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".cat_uc1_ViewEventReqQueue">
            <intent-filter>
                <action android:name="comcse5324projutacatering.httpsgithub.utacatering.cat_uc1_ViewEventReqQueue" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".catstaff_uc0_Home" />
        <activity android:name=".cat_uc6_78_ViewEventDetails"></activity>
    </application>

</manifest>